.navbar{
    background-color: lightgrey;
    display: flex  ;
    height: 5%;
    justify-content: space-between;
    width:100%;
    padding:1rem 2rem;
}

.nav_opt{
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-grow: 1;
    margin:0 2rem;
    padding:0;
}

.nav_list{
    list-style-type: none;
    display:flex;
    align-items: center;
    gap:2rem;

}

.logo{
    height:auto;
    width: auto;
}

body{
    margin: 0;
}