body{
    margin:0;
    padding: 0;
    font-family: "Clarity City", sans-serif;
    overflow-x: hidden;
    max-width: 100%;
}
.navbar{
    display: flex  ;
    height: 10vh;
    width:100%;
    position: fixed;
    top:0;
    left: 0;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1000;


    li{
        font-size: clamp(0.8rem,2vw,2rem);
    }
    a{
        color: black;
        text-decoration: none;
    }
    a:hover{
        color: white;
        text-shadow: 0px 2px 4px #771D14;
    }
}

.nav_opt{
    display: flex;
    align-items:center;
    width:90%;
    padding:0;
    justify-content: space-around;
}

.nav_list{
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.Upcoming-Show{

    height:25vh;
    margin-bottom:1vh;
}



.slider-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 25vh;
    margin-top: 12vh;

}

.slider-images img {
    width: 80%;
    height: 25vh;
    display: none; /* Hide all images by default */
    margin:0 auto;
    border-radius: 10px;
}

.slider-images img.active {
    display: block; /* Only show the image marked as active */
}

/* Style the Left/Right buttons */
.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    z-index: 10;
}

.prev-btn { left: 10px; }
.next-btn { right: 10px; }

.footer{
    width:100vw;

    height:15vh;
    display: flex;
    background-color: #771D14;
    justify-content: center;
    position:relative;
    bottom:0;
}


.footer-opt{
    display: flex;
    width:95%;
    padding:0;
    justify-content: center;
    gap:clamp(1vw,10px,10vw);
    position:absolute;
    bottom:15%;
    

    height: clamp(1rem,2vw,2rem);
    li{
        font-size: clamp(1rem,2vw,2rem);
    }
    a{
        color: white;
        text-decoration: none;
    }
    a:hover{
        color: black;
        text-shadow: 0px 2px 4px #771D14;
    }
}

@media(min-width:768px){
    .Upcoming-Show{
        height:90vh;
    }
    .slider-images img{
        height:90vh;
    }
    .slider-container{
        height:90vh;
    }
}

.book_tickets{
    background-color: white;
    border-color: black;
    border-style:solid;
    width:50%;
    height:10vh;
    justify-content: center;

    a{
        font-size:0.75rem;
    }
    
}

.booking-button{
    display: flex;
    flex-direction: column;
    background-color: grey;
    justify-content: center;
    a{
        color: black;
        text-decoration: none;
        font-weight: bold;  
    }
    
}

.book-now{
    display:flex;
    align-items:center;
    li{
        list-style: none;
    }
}